<app-paris  [data]="homePage" [slug]="theme" *ngIf="homePage?.slug === 'paris'"></app-paris>
<app-tokyo  [data]="homePage" [slug]="theme" *ngIf="homePage?.slug === 'tokyo'"></app-tokyo>
<app-osaka  [data]="homePage" [slug]="theme" *ngIf="homePage?.slug === 'osaka'"></app-osaka>
<app-rome   [data]="homePage" [slug]="theme" *ngIf="homePage?.slug === 'rome'"></app-rome>
<app-madrid [data]="homePage" [slug]="theme" *ngIf="homePage?.slug === 'madrid'"></app-madrid>
<app-berlin [data]="homePage" [slug]="theme" *ngIf="homePage?.slug === 'berlin'"></app-berlin>
<app-denver [data]="homePage" [slug]="theme" *ngIf="homePage?.slug === 'denver'"></app-denver>
<app-moscow [data]="homePage" [slug]="theme" *ngIf="homePage?.slug === 'moscow'"></app-moscow>
<app-cairo  [data]="homePage" [slug]="theme" *ngIf="homePage?.slug === 'cairo'"></app-cairo>
