<div class="theme-tree-box">
    <input class="form-control" placeholder="{{ 'search' | translate }}" [formControl]="treeSearch">
    <ul class="tree-main-ul" *ngIf="dataToShow?.length">
        <li class="cursor-pointer">
            <div>
                <i class="tree-icon folder-icon" role="presentation"></i>
                <span>{{ 'Menu' | translate }}</span>
            </div>
            <ul>
                <app-menu-node-tree [node]="node" [displayKey]="displayKey" [recursionKey]="recursionKey"
                    [categoryType]="categoryType" *ngFor="let node of dataToShow">
                </app-menu-node-tree>
            </ul>
        </li>
    </ul>
</div>
<app-no-data 
    [class]="'no-data-added category-no-data'" 
    [image]="'assets/svg/no-category.svg'"
    [text]="'no_menu_found'" 
    *ngIf="!dataToShow?.length">
</app-no-data>