<footer [class]="style == 'footer_subscribe' ? '': 'section-t-space'" [ngClass]="style === 'classic_footer' ? 'footer-section-2 footer-color-3' : ''">
    <app-subscribe-footer [data]="(themeOption$ | async)" [footer]="footer" *ngIf="style == 'footer_subscribe'"></app-subscribe-footer>
    <app-basic-footer [data]="(themeOption$ | async)" [footer]="footer" *ngIf="style == 'basic_footer'"></app-basic-footer>
    <app-basic-footer [data]="(themeOption$ | async)" [footer]="footer" *ngIf="style == 'classic_footer'"></app-basic-footer>
</footer>
 