<app-basic-product-box [product]="product" [close]="close" *ngIf="style == 'horizontal' && themeOptionService.productBox == 'basic'"></app-basic-product-box>
<app-premium-product-box [product]="product" [close]="close" *ngIf="style == 'horizontal' && themeOptionService.productBox == 'premium'"></app-premium-product-box>
<app-classic-product-box [product]="product" [close]="close" *ngIf="style == 'horizontal' && themeOptionService.productBox == 'classic'"></app-classic-product-box>
<app-standard-product-box [product]="product" [close]="close" *ngIf="style == 'horizontal' && themeOptionService.productBox == 'standard'"></app-standard-product-box>
<app-digital-product-box [product]="product" [close]="close" *ngIf="style == 'horizontal' && themeOptionService.productBox == 'digital'"></app-digital-product-box>
<app-product-box-vertical [product]="product" *ngIf="style == 'vertical'"></app-product-box-vertical>