<div class="brand-section" >
    <div class="brand-row" [class.no-bg]="brands.length < 6 ">
        <div class="row row-cols-6 justify-content-center">
            <div *ngFor="let brand of brands">
                <a href="javascript:void(0)" [routerLink]="['/brand', brand.slug]">
                    <img *ngIf="brand.brand_image; else name" [src]="brand.brand_image.original_url"
                        class="img-fluid">
                    <ng-template #name>
                        <h3>{{ brand.name }}</h3>
                    </ng-template>
                </a>
            </div>
        </div>
        <app-no-data
            [class]="'no-data-added bg-light'"
            [text]="'no_product_found'"
            *ngIf="!brands?.length">
        </app-no-data>
    </div>
</div>